
.review-bottom-section-academics{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.open-button{
    background-color: #F56960;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-left: 45px;
    margin-top: 5px;
    color: white;
    width: 120px;
    
}

.academic-heading{
    font-size: 18px;
    margin-top: 6px;
    text-decoration: underline;
}